body {
    color: rgb(7, 2, 37);
    background-color: rgb(236, 242, 245);
    font-size: 16px;
    width: 1200px;
}

* {
    box-sizing: border-box;
}

.email-box {
  width: 700px;
    padding: 8px;
    border: solid 1px #000;
    background-color: #fff;  
}

.messages {
    display: flex;
    flex-direction: column;
    width: 650px;
    padding: 8px;
}

.message {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 8px;
    word-wrap: break-word;
    border: solid 1px #000;
}

.msg-from {
    width: 30%;
}

.msg-subject {
    width: 50%;
}

.msg-received {
    width: 20%;
}
